.navbar > a {
    color: #66757f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: #00cf6b;
}

.navbar {
    filter: drop-shadow(0px 1px 1px #c1c1c1);
}

.navcontainer   {
    text-align: right;
}

body    {
    background-color: #e2eee2;
    font-family: Figtree, sans-serif;
}

.post-grid    {
    display: grid;
    margin: 1in 2in;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 200px;
    gap: 1%;
}

a.post-container {
    color: initial;
    text-decoration: initial;

    background-color: #f8f9fa;
    border: 1px solid #c1c1c1;
    padding: 10px;
}
.post-title {
    max-lines: 2;
}
.post-misc  {
    color: #66757f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-text  {
    height: 66%;
}

hr  {
    margin: 1%;
}

.truncate-overflow  {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    padding-right: 1rem;
}