/* GENERAL */
.content-container  {
    display: flex;
    justify-content: center;
    margin-top: 1in;
}
.content-container > div    {
    width: 80%;
}

/* LAYOUT */
.navbar > a {
    color: #66757f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    color: #00cf6b;
    text-decoration: initial;
}
.navbar {
    padding-left: 10%;
    padding-right: 10%;
    filter: drop-shadow(0px 1px 1px #c1c1c1);
}
.navcontainer   {
    text-align: right;
}
.custom-button  {
    background-color: #00cf6b;
    color: white;
    border-color: #66757f;
}
.custom-button:hover    {
    background-color: #00b15c;
    border-color: #66757f;
}
body    {
    background-color: #e2eee2;
    font-family: Figtree, sans-serif;
}

/* HOMEPAGE */
.post-grid    {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 200px;
    gap: 1%;
}
a.post-container {
    color: initial;
    text-decoration: initial;

    background-color: #f8f9fa;
    border: 1px solid #c1c1c1;
    padding: 15px;
    overflow: hidden;
}
.post-title {
    font-size: larger;
    font-weight: bold;
    line-clamp: 2;
    height: 2.5em;
    overflow: hidden;
}
.post-misc  {
    font-size: smaller;
    color: #66757f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-author    {
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-container hr  {
    margin: 1%;
}
.truncate-overflow  {
    position: relative;
    max-height: 6em;
    overflow: hidden;
}
a.post-container:hover * {
    color: #00cf6b
}

/* SPECIFIC POST VIEW */
.post-page-container    {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 3%;
    border: 1px solid #c1c1c1;
}
.post-page-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0.25em;
}
.post-page-misc {
    padding-left: 0.5%;
    padding-right: 0.5%;
}
.post-text  {
    margin: auto 10px auto 10px;
}
.post-text > *  {
    margin-bottom: 2%;
}
.post-actions   {
    margin: initial;
}
.post-actions * {
    margin-left: 1.25%;
}
.post-actions button  {
    width: 100px;
}


/* CREATE POST */
.editor-container   {
    background-color: white;
    padding-top: 5%;
}
.post-form  {
    display: flex;
    flex-direction: column;
}
.post-form > *  {
    margin: 0.5em;
}
.post-form > input, textarea  {
    padding: 0.5em;
    outline: #c1c1c1 auto 1px;
}
.post-form > textarea   {
    margin-top: 0;
    height: 400px;
    resize: vertical;
}
.post-form > div > button   {
    width: 20%;
    font-size: larger;
    font-weight: bolder;
}
.md-tip {
    font-size: smaller;
    color: #66757f;
    margin: 0px 0px 0px 10px;
}
.md-tip a {
    text-decoration: underline;
    color: lightseagreen;
}