/* GENERAL */
.content-container  {
    display: flex;
    justify-content: center;
    margin-top: 1in;
}
.content-container > div    {
    width: 80%;
}

/* LAYOUT */
.navbar > a {
    color: #66757f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar {
    padding-left: 10%;
    padding-right: 10%;
    filter: drop-shadow(0px 1px 1px #c1c1c1);
}
.navcontainer   {
    text-align: right;
}
.custom-button  {
    background-color: #00cf6b;
    color: white;
    border-color: #66757f;
}
.custom-button:hover    {
    background-color: #00b15c;
    border-color: #66757f;
}
body    {
    background-color: #e2eee2;
    font-family: Figtree, sans-serif;
}

/* HOMEPAGE */
.post-grid    {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 200px;
    gap: 1%;
}
a.post-container {
    color: initial;
    text-decoration: initial;

    display: flex;
    flex-direction: column;

    background-color: #f8f9fa;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
}
.post-title {
    font-size: larger;
    font-weight: bold;
    line-clamp: 2;
    height: 2.5em;
    overflow: hidden;
}
.post-misc  {
    font-size: smaller;
    color: #66757f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-author    {
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-container hr  {
    margin: 1%;
}
.truncate-overflow  {
    position: relative;
    max-height: 6em;
    overflow: hidden;
}
a.post-container:hover * {
    color: #00cf6b
}

/* SPECIFIC POST VIEW */
.post-page-container    {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 3%;
    border: 1px solid #c1c1c1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-page-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0.25em;
}
.post-page-misc {
    padding-left: 0.5%;
    padding-right: 0.5%;
}
.post-text  {
    margin: auto 10px auto 10px;
}
.post-text > *  {
    margin-bottom: 2%;
}
.post-actions   {
    margin: initial;
}
.post-actions * {
    margin-left: 1.25%;
}
.post-actions button  {
    width: 100px;
}
.comments-header {
    font-weight: bold;
    margin-bottom: 0.25em;
}
.comment-container  {
    border: 1px solid #c1c1c1;
    border-radius: 0.5em;
    background-color: #fffffa;
    overflow: hidden;
    margin-bottom: 0.5em;
}
.comment-info   {
    padding: 0.25em 0.5em;
    background-color: #e2eee2;
    border-bottom: 1px solid #c1c1c1;
}
.comment-contents    {
    margin: 1em 1em 1.75em 1.75em;
}
.write-comment  {
    background-color: #fffffa;
    border-bottom: 1px solid #c1c1c1;
    outline: 0;
    width: 100%;
    height: 7.5em;
    resize: vertical;
}
.comment-author {
    border-bottom: solid #c1c1c1 1px;
}
.comment-actions    {
    margin: 0.5em;
    margin-top: 0;
}
.comment-actions > *    {
    margin-left: 1em;
}


/* CREATE POST */
.editor-container   {
    min-height: 100vh;
}
.post-form  {
    display: flex;
    flex-direction: column;
}
.post-form > *  {
    margin: 0.5em;
}
.post-form > input, textarea  {
    padding: 0.5em;
    outline: #c1c1c1 auto 1px;
}
.post-form > textarea   {
    margin-top: 0;
    height: 400px;
    resize: vertical;
}
.post-form > div > button   {
    width: 20%;
    font-size: larger;
    font-weight: bolder;
}
.tip    {
    font-size: smaller;
    color: #66757f;
}
.md-tip {
    margin: 0px 0px 0px 10px;
}
.md-tip a {
    text-decoration: underline;
    color: lightseagreen;
}
.session-tip    {
    width: 20%;
    text-align: center;
}

/* ERROR */
.error-container    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 2em;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    width: 50em;
}
.error-container:hover  {
    color: initial;
    text-decoration: initial;
}
.error-message {
    font-weight: 800;
    font-size: 5.5em;
}
.error-text {
    color: #00cf6b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.error-icon-display {
    width: 40%;
    transform: rotate(180deg);
}